.login-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container h1{
    color: white;
    padding-bottom: 80px;
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.form-label{
    color: white;
    font-size: 20px;
}

.input-str{
    width:300px;
    font-size:14px;

    border: 1px solid grey;
    border-radius: 10px;
    color: #a5a5a5;

    padding-bottom: 3px;
    padding-top:3px

}
.input-str:focus{
    background-color: black;
    color: white;
}


.login-password{
    width:300px;
    font-size:14px;

    border: none;
    border-radius: 10px;
    color: #a5a5a5;

    padding-bottom: 3px;
    padding-top:3px
}
.login-password:focus{
    background-color: black;
    color: white;
}

.form-btn{
    background-color:dodgerblue;
    color: white;
    font-size: 14px;

    border: 1px darkblue solid;
    border-radius: 10px;

    width: 100px;

}