.login-btn{
    position: absolute;
    right: 10px;
    top: 10px;

    backgroundx-color: dodgerblue;
    color: white;
    font-size: 14px;
    width: 120px;
    border: 1px black solid;
    border-radius: 14px;

    cursor: pointer;
}

.login-btn:hover{
    background-color: #007df3;
    transform: translateY(0.2px);
}